/* global */

:root {
  --mainColor: #468690;
  --lightYello: #f4bc4b;
  --darkGray: #343a40;
  --lightGray: #eaecec;
  --darkYellow: #927054;
}

* {
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
  	transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  color: var(--lightYello) !important;
}
.logoColor {
  color: var(--mainColor) !important;
}

.textColor {
  color: var(--lightYello) !important ;
}
.textDarkyellow{
  color: var(--darkYellow) !important ;

}
.sectextColor {
  color: var(--darkGray) !important ;
}
.bgColor {
  background-color: var(--darkGray) !important;
}
.secbgColor {
  background-color: var(--lightGray) !important;
}
.buttonColor {
  background-color: var(--darkYellow) !important;
  outline: none;
}
.secButtonColor {
  background-color: var(--mainColor) !important;
}
.borderRadius {
  border-radius: 14px !important ;
}
input {
  outline: none !important ;
}
input:focus {
  outline: var(--mainColor) !important;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}
/*end global */

/* sideBar */
.menu-item .active a {
  background-color: #4f555a !important;
  color: var(--lightYello) !important ;
}
.menu-item a:hover {
  color: var(--lightYello) !important ;
}
/* sideBar */
/* navebars */
.images {
  width: 1.8rem !important ;
  height: 1.8rem !important ;
  border-radius: 50% !important ;
  object-fit: fill !important ;
}
.badge {
  --bs-badge-padding-x: 0.3em !important;
}
/*end navebars */

/* .offcanvas */
.offcanvas.offcanvas-start {
  width: 50% !important;
}
.offcanvas-header {
  display: block !important;
  padding: 0 !important;
}
