/* global */
:root {
  --green: '#93aeaa';
  --darkgreen: #295e57;
  --lightgreen: #bececc;
  --darkYellow: #db8028;
  --darkOrang: #6b3c2d;
  --lightGray: #f7fafa;
  --darkgray: #e9eeed;
  --white: #ffffff;
  --radius: 22px;
  --gray: '#BECECC';
}
* {
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
  transition-duration: 200ms;
text-transform: capitalize;
}
input {
  outline: none !important ;
  border: var(--gray);
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
/*end global */
.borderRadius {
  border-radius: var(--radius) !important ;
}
.borderColor {
  border-color: var(--darkgreen) !important;
}
/* text color */
.textDarkGreen {
  color: var(--darkgreen);
}
.textlightgreen {
  color: var(--lightgreen);
}
.textDarkyellow {
  color: var(--darkYellow) !important ;
}
.textDarkOrang {
  color: var(--darkOrang) !important ;
}
.textLightGray {
  color: var(--lightGray) !important ;
}
.textDarkGray {
  color: var(--darkgray) !important ;
}
.textwhite {
  color: var(--white) !important ;
}
.textGray {
  color: var(--gray) !important ;
}
.textGreen {
  color: var(--gray) !important ;
}
/* background color*/
.bgDarkgreen {
  background-color: var(--darkgreen) !important;
}
.bgGreen {
  background-color: #93aeaa !important;
}
.bgDarkYellow {
  background-color: var(--darkYellow) !important;
  outline: none;
}
.bgdarkOrang {
  background-color: var(--darkOrang) !important;
}
.bglightGray {
  background-color: var(--lightGray) !important;
}
.bgdarktGray {
  background-color: var(--darkgray) !important;
}
.bgLight {
  background-color: var(--white) !important;
}

.parent {
  min-height: 100vh;
}
main {
  flex: 1;
}
.boderDsh {
  border: #bececc 1px dashed;
}

.form-control:focus {
  box-shadow: none;
}
/* navebars */
.images {
  width: 1.8rem !important ;
  height: 1.8rem !important ;
  border-radius: 50% !important ;
  object-fit: fill !important ;
}
.badge {
  --bs-badge-padding-x: 0.3em !important;
}
/*end navebars */

/* .offcanvas */
.offcanvas.offcanvas-start {
  width: 50% !important;
}
.offcanvas-header {
  display: block !important;
  padding: 0 !important;
}

/* sidebar */
.dyLfuo:hover {
  /* color: #f3f3f3 !important; */
  border-radius: var(--radius) !important ;
}
.lkTtqM:hover {
  background-color: transparent !important;
  border-radius: var(--radius) !important ;
}
.eVPmrC:hover {
  background-color: transparent !important;
  border-radius: var(--radius) !important ;
}
/* endside bar */
.list-group-item {
  background-color: transparent !important;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 10px;
  font-weight: 500;
}
.list-group-item::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--darkgreen);
  border-radius: 50%;
  top: 15px;
  right: 0;
}

/* table */
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent !important;
}
.css-zylse7-MuiButtonBase-root-MuiIconButton-root {
  transform: rotate(180deg);
}
.css-1mxz8qt-MuiPaper-root {
  background-color: transparent !important ;
  box-shadow: none !important ;
  /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
}
.css-1psng7p-MuiTablePagination-spacer {
  visibility: hidden!important;
}
/* .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar p {
  margin: 0 !important;
}
.css-1whpjm6-MuiToolbar-root {
  background-color: transparent !important;
}
.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
  margin-right: 0px !important;
}
.css-pdct74-MuiTablePagination-selectLabel {
  display: none !important;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: white !important;
  border-width: 8px 0 0 0 !important;
  text-align: center !important;
  font-weight: 600 !important;
}
td {
  color: var(--lightGray) !important;
}
input[type='checkbox']:checked {
  background-color: var(--green) !important;
  color: var(--green) !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: var(--lightgreen) !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root:hover {
  background-color: transparent !important;
}
.css-11w94w9-MuiTableCell-root {
  color: var(--lightGray) !important;
}